<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <h2>Please sign in</h2>

    <div class="mb-3">
        <input type="email" placeholder="Email" formControlName="email" class="form-control form-control-sm">
    </div>

    <div class="mb-3">
        <input type="password" placeholder="Password" formControlName="password" class="form-control form-control-sm">
    </div>

    
    <div class="mb-3" *ngIf="error">
        <div class="alert alert-danger" role="alert">{{error}}</div>
    </div>

    <div class="mb-3">
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-sm btn-info">Login</button>
    </div>

    <div>
        or <a [routerLink]="['/auth/restore']">Restore password</a> <br>
        or <a [routerLink]="['/auth/registration']">Register</a>
    </div>

</form>