.file {
    cursor: pointer;
    display: flex;

    &:hover {
        background-color: #cdd1d4;
    }
    &-action {
        width: 5%;
    }
    &-type {
        width: 5%;    
    }
    &-name {
        width: 10%;
    }
    &-size {
        width: 5%;
    }
    &-public {
        width: 5%;
    }
    &-created {
        width: 10%;
        
    }
}