<div *ngIf="file" class="file">
    <div class="file-action">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="file-{{file.id}}">
        </div>
    </div>
    <div class="file-type">
        <app-file-type-icon [filetype]="file.type"></app-file-type-icon>
    </div>
    <div class="file-name">{{file.name}}</div>
    
    <div class="file-size" *ngIf="file.size">{{ file.size | filesize }}</div>
    <div class="file-size" *ngIf="!file.size">...</div>
    
    <div class="file-public" *ngIf="file.public"><fa-icon [icon]="public"></fa-icon></div>
    <div class="file-public" *ngIf="!file.public"><fa-icon [icon]="notpublic"></fa-icon></div>

    <div class="file-created">{{ file.created_at | date }}</div>
</div>