<h1>Registration</h1>
<form [formGroup]="registerForm" (ngSubmit)="submit()">

    <div class="mb-3">
        <label class="block" for="first_name_input">Email:</label>
        <input type="email" placeholder="Email" formControlName="email" class="w-full">
    </div>


    <div class="mb-3">
        <label class="block" for="first_name_input">Password:</label>
        <input type="password"  placeholder="Password" formControlName="password" class="w-full">
    </div>

    <div class="mb-3">
        <label class="block" for="first_name_input">Confirm Password:</label>
        <input type="password"  placeholder="Password confirm" formControlName="password_confirm" class="w-full">
    </div>

    <div class="mb-3" *ngIf="response">
        <div *ngIf="response.status" class="alert alert-info" role="alert">
            Great! :) We send email message with login link
        </div>
        <div *ngIf="!response.status" class="alert alert-danger" role="alert">
            Something went wrong. Please check credentials.
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-default" [disabled]="!registerForm.valid"></button>
    </div>
</form>
