.form-signin {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    width: 320px;
}

:host ::ng-deep .p-scrollpanel p {
    padding: .5rem;
    line-height: 1.5;
    margin: 0;
}

:host ::ng-deep .p-scrollpanel.custombar1 .p-scrollpanel-wrapper {
    border-right: 9px solid var(--layer-1);
}

:host ::ng-deep .p-scrollpanel.custombar1 .p-scrollpanel-bar {
    background-color: var(--bluegray-300);
    opacity: 1;
    transition: background-color .2s;
}

:host ::ng-deep .p-scrollpanel.custombar1 .p-scrollpanel-bar:hover {
    background-color: var(--cyan-600);
}