<html lang="en">
<head>
    <title>go:embed demo</title>
    {{template "__head"}}
</head>
<body>
<div>
    <h1>Hello, {{ .userAgent }}!</h1>
    
    <a href="/login">Login</a>
</div>
</body>
</html>

