<div class="container-fluid">

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Name</th>
                <th>Size</th>
                <th>Modified</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>document.pdf</td>
                <td>2.1 Mb</td>
                <td>1.22.2023</td>
            </tr>
        </tbody>
    </table>
</div>