.dashboard {
    display: flex;
    align-items: flex-start;
    height: calc(100vh - 3rem);
    
    &-content {
        overflow: auto;
        height: 100%;
        width: calc(100% - 10rem);
    }
}